include ../label/label
include ../option/option

mixin dropdown(options = {})
	+label(options.label, options.additionalLabel)
		.dropdown
			.dropdown__wrap.input-like
				.dropdown__head
					.dropdown__value Some Text
					.dropdown__icon
						i.fas.fa-chevron-down
				.dropdown__body
					+option()