@import 'ROOT/variables.scss';

.dropdown {
	position:relative;
	cursor:pointer;

	& > .dropdown__wrap {
		position: absolute;
		width: 100%;

		& > .dropdown__head {
			padding: $input-padding;
			display:flex;
			justify-content: space-between;

			& > .dropdown__icon {
				transform: rotate(90deg);
				transition: transform 0.2s;
			}
		}

		& > .dropdown__body {
			overflow:hidden;
			max-height: 0px;
		}
	}

	&_opened {
		z-index: 10;
		& > .dropdown__wrap {
			box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
			& > .dropdown__head {
				& > .dropdown__icon {
					transform: rotate(0deg);
				}
			}

			& > .dropdown__body {
				border-top: inherit;
				padding: $input-padding;
				max-height: 999px;
				transition: max-height 0.2s;
			}
		}
	}
}