extends ../base/base

include ../../components/colorExamples/colorExamples
include ../../components/typeExamples/typeExamples
include ../../components/section/section
include ../../components/roomSelector/roomSelector
include ../../components/textField/textField
include ../../components/dropdown/dropdown

block title
	| UI Kit

block main
	+section({fullWidth: true, framed: true})
		+section__row({grid:true, template: 'two-columns'})
			+section__column()
				+section__item()
					+colorExamples()
			+section__column()
				+section__item()
					+typeExamples()
	+section({removeBg: true})
		+section__row({grid:true, template: 'auto'})
			+section__column()
				+section__item()
					+roomSelector()
				+section__item()
					+roomSelector()
				+section__item()
					+roomSelector()
			+section__column()
				+section__item()
					+roomSelector()
				+section__item()
					+roomSelector()
				+section__item()
					+roomSelector()
	+section({fullWidth: true, framed: true})
		+section__row({grid:true, template: 'three-columns'})
			+section__column()
				+section__item()
					+textField({
						type: 'email',
						placeholder: 'Email',
						label: 'Text Field',
						additionalLabel: 'default'
					})
				+section__item()
					+textField({
						type: 'text',
						value: 'This is pretty awesome',
						label: 'Text field',
						additionalLabel: 'hover/focus',
						classes: 'focus'
					})
				+section__item()
					+dropdown({
						label: 'Dropdown',
						additionalLabel: 'default',
					})
				+section__item()
					+dropdown({
						label: 'Dropdown',
						additionalLabel: 'default',
					})
				+section__item()
					+dropdown({
						label: 'Dropdown',
						additionalLabel: 'default',
					})