extends ../base/base

include ../../components/section/section
include ../../components/textField/textField
include ../../components/dropdown/dropdown
include ../../components/option/option

block title
	| Form Elements

block main
	+section({fullWidth: true, framed: true})
		+section__row({grid:true, template: 'three-columns'})
			+section__column()
				+section__item()
					+textField({
						type: 'email',
						placeholder: 'Email',
						label: 'Text Field',
						additionalLabel: 'default'
					})
				+section__item()
					+textField({
						type: 'text',
						value: 'This is pretty awesome',
						label: 'Text field',
						additionalLabel: 'hover/focus',
						classes: 'focus'
					})
				+section__item()
					+dropdown({
						label: 'Dropdown',
						additionalLabel: 'default',
						defaultValue: 'Гости',
						options: [
							{
								heading: "Взрослые",
								value: 0,
								min: 0,
								max: 9,
								name: "adults",
								itemNameSingular: 'Взрослый',
								itemNamePlural: 'Взрослых',
								itemName: 'Взрослых'
							},
							{
								heading: "Дети",
								value: 0,
								min: 0,
								max: 9,
								name: "childrens",
								itemNameSingular: 'Ребенок',
								itemNamePlural: 'Ребенка',
								itemName: 'Детей'
							},
							{
								heading: "Младенцы",
								value: 0,
								min: 0,
								max: 9,
								name: "babies",
								itemNameSingular: 'Младенец',
								itemNamePlural: 'Младенца',
								itemName: 'Младенцев'
							}
						]
					})
				+section__item()
					+textField({
						type: 'email',
						placeholder: 'Email',
						label: 'Text Field',
						additionalLabel: 'default'
					})
				+section__item()
					+option()