mixin option()
	.option
		.option__heading Heading
		.option__counter
			.option__button.option__button_decrement -
			input(type='number', readonly=true).option__display
			.option__button.option__button_increment +