mixin typeExamples()
	.type-examples
		.type-examples__item
			.type-examples__name.type-examples__name_h1 H1
			.type-examples__value
				h1 This one is the sub-section or widget title
		.type-examples__item
			.type-examples__name.type-examples__name_h2 H2
			.type-examples__value
				h2 Next one is the item title inside widgets
		.type-examples__item
			.type-examples__name.type-examples__name_h3 H3
			.type-examples__value
				h3 This is a label or CTA text
		.type-examples__item
			.type-examples__name.type-examples__name_body Body
			.type-examples__value
				| This is the body text which is used for most of the design, like paragraphs, lists, etc.