mixin typeExamples()
	div.type-examples
		div.type-examples__item
			div.type-examples__name.type-examples__name_h1 H1
			div.type-examples__value
				h1 This one is the sub-section or widget title
		div.type-examples__item
			div.type-examples__name.type-examples__name_h2 H2
			div.type-examples__value
				h2 Next one is the item title inside widgets
		div.type-examples__item
			div.type-examples__name.type-examples__name_h3 H3
			div.type-examples__value
				h3 This is a label or CTA text
		div.type-examples__item
			div.type-examples__name.type-examples__name_body Body
			div.type-examples__value
				div This is the body text which is used for most of the design, like paragraphs, lists, etc.