mixin section(options = {})
	-
		let classes = ''
		let classBase = 'section'

		classes += options.fullWidth ? ' '+classBase+'_full-width' : ''
		classes += options.framed ? ' '+classBase+'_framed' : ''
		classes += options.gap ? ' '+classBase+'_gap_'+options.gap : ''
		classes += options.grid ? ' '+classBase+'_grid' : ''
		classes += options.removeBg ? ' '+classBase+'_remove-bg' : ''

	.section(class=classes)
		block

mixin section__row(options = {})
	-
		let classes = ''
		let classBase = 'section__row'

		classes += options.fullWidth ? ' '+classBase+'_full-width' : ''
		classes += options.margin ? ' '+classBase+'_margin_'+options.margin : ''
		classes += options.gap ? ' '+classBase+'_gap_'+options.gap : ''
		classes += options.grid ? ' '+classBase+'_grid' : ''
		classes += options.template ? ' '+classBase+'_template_'+options.template : ''

	.section__row(class=classes)
		block

mixin section__column(options = {})
	-
		let classes = ''
		let classBase = 'section__column'
		classes += options.gap ? ' '+classBase+'_gap_'+options.gap : ''

	.section__column(class=classes)
		block

mixin section__item(options = {})
	-
		let classes = ''
		let classBase = 'section__item'

		classes += options.margin ? ' '+classBase+'_margin_'+options.margin : ''

	.section__item(class=classes)
		block