@import '../../theme/variables.scss';

.section {
	background-color: $content-bg;
	padding: 35px 0;
	&_bg-removed {
		background:none;
	}
	&_grid {
		.section__container {
			display:grid;
			grid-gap:40px;
			grid-template-columns: 1fr;
		}
	}

	&__column > .card:not(:last-child) {
		margin-bottom:40px;
	}

	&_columns_2 {
		.section__container {
			grid-template-columns: 1fr 1fr;
		}
	}
	&_columns_3 {
		.section__container {
			grid-template-columns: 1fr 1fr;
		}
	}
	&_columns_auto {
		.section__container {
			grid-template-columns: repeat(auto-fill, minmax($xxs,1fr));
		}
	}

	.section__container {
		max-width: $container-width;
		width:100%;
		margin: 0 auto;
		background: none;
	}
}