mixin section(options)
	- var classes = ''
	if options
		if options.bg == 'removed'
			- classes = 'section_bg-removed'

	div.section(class=classes)
		div.section__container
			div.section__column
				block