@import '../../theme/variables.scss';

.section {
	background-color: $content-bg;
	padding: 35px 0;
	&_bg-removed {
		background:none;
	}
	&_grid {
		.section__container {
			display:grid;
			grid-template-columns: 1fr;
		}
	}

	&_columns_2 {
		.section__container {
			grid-template-columns: 1fr 1fr;
		}
	}

	.section__container {
		width: $container-width;
		margin: 0 auto;
		background: none;
	}
}