extends ../base/base

include ../../components/colorExamples/colorExamples
include ../../components/typeExamples/typeExamples
include ../../components/section/section

block main
	+section({columns:2})
		+section__column()
			+colorExamples()
		+section__column()
			+typeExamples()