extends ../base/base

include ../../components/section/section

block title
	| Test

block main
	+section({fullWidth: true, framed:true, gap: 'large'})
		+section__row({grid: true, gap: 'large', template: 'three-columns'})
			+section__column({gap: 'large'})
				+section__item()
				+section__item({margin: 'small'})
				+section__item()
			+section__column()
				+section__item()
					+section()
						+section__row({grid: true, gap: 'small', template: 'two-columns'})
							+section__column()
								+section__item()
							+section__column()
								+section__item()
								+section__item()
			+section__column()
				+section__item()
		+section__row({grid: true, gap: 'default', template: 'two-columns', fullWidth: true})
			+section__column()
				+section__item()
			+section__column()
				+section__item()
			+section__column()
				+section__item()